/* Variables */

:root {
  /* primary type scale */

  --font-u18: 11.390625em;
  --font-u17: 9.950627481136905em;
  --font-u16: 8.692673779389363em;
  --font-u15: 7.59375em;
  --font-u14: 6.63375165409127em;
  --font-u13: 5.795115852926242em;
  --font-u12: 5.0625em;
  --font-u11: 4.422501102727513em;
  --font-u10: 3.8634105686174953em;
  --font-u9: 3.375em;
  --font-u8: 2.9483340684850083em;
  --font-u7: 2.575607045744997em;
  --font-u6: 2.25em;
  --font-u5: 1.9655560456566725em;
  --font-u4: 1.7170713638299977em;
  --font-u3: 1.5em;
  --font-u2: 1.3103706971044482em;
  --font-u1: 1.1447142425533319em;
  --font-d1: 0.8735804647362989em;
  --font-d2: 0.7631428283688879em;
  --font-d3: 0.6666666666666666em;
  --font-d4: 0.5823869764908659em;
  --font-d5: 0.5087618855792586em;
  --font-d6: 0.4444444444444444em;
  --font-d7: 0.3882579843272439em;
  --font-d8: 0.3391745903861724em;
  --font-d9: 0.2962962962962963em;
  --font-d10: 0.2588386562181626em;
  --font-d11: 0.22611639359078162em;
  --font-d12: 0.19753086419753085em;
  --font-d13: 0.17255910414544176em;
  --font-d14: 0.15074426239385438em;
  --font-d15: 0.13168724279835392em;
  --font-d16: 0.11503940276362785em;
  --font-d17: 0.10049617492923625em;
  --font-d18: 0.0877914951989026em;

  /* root resets (use these sparingly if needed to reset component font sizes, etc.) */

  --font-u18r: 11.390625rem;
  --font-u17r: 9.950627481136905rem;
  --font-u16r: 8.692673779389363rem;
  --font-u15r: 7.59375rem;
  --font-u14r: 6.63375165409127rem;
  --font-u13r: 5.795115852926242rem;
  --font-u12r: 5.0625rem;
  --font-u11r: 4.422501102727513rem;
  --font-u10r: 3.8634105686174953rem;
  --font-u9r: 3.375rem;
  --font-u8r: 2.9483340684850083rem;
  --font-u7r: 2.575607045744997rem;
  --font-u6r: 2.25rem;
  --font-u5r: 1.9655560456566725rem;
  --font-u4r: 1.7170713638299977rem;
  --font-u3r: 1.5rem;
  --font-u2r: 1.3103706971044482rem;
  --font-u1r: 1.1447142425533319rem;
  --font-d1r: 0.8735804647362989rem;
  --font-d2r: 0.7631428283688879rem;
  --font-d3r: 0.6666666666666666rem;
  --font-d4r: 0.5823869764908659rem;
  --font-d5r: 0.5087618855792586rem;
  --font-d6r: 0.4444444444444444rem;
  --font-d7r: 0.3882579843272439rem;
  --font-d8r: 0.3391745903861724rem;
  --font-d9r: 0.2962962962962963rem;
  --font-d10r: 0.2588386562181626rem;
  --font-d11r: 0.22611639359078162rem;
  --font-d12r: 0.19753086419753085rem;
  --font-d13r: 0.17255910414544176rem;
  --font-d14r: 0.15074426239385438rem;
  --font-d15r: 0.13168724279835392rem;
  --font-d16r: 0.11503940276362785rem;
  --font-d17r: 0.10049617492923625rem;
  --font-d18r: 0.0877914951989026rem;
}

/* Utilities */

.font-reset { font-size: 1rem }

/* primary type scale */

.font-u18 { font-size: var(--font-u18) }
.font-u17 { font-size: var(--font-u17) }
.font-u16 { font-size: var(--font-u16) }
.font-u15 { font-size: var(--font-u15) }
.font-u14 { font-size: var(--font-u14) }
.font-u13 { font-size: var(--font-u13) }
.font-u12 { font-size: var(--font-u12) }
.font-u11 { font-size: var(--font-u11) }
.font-u10 { font-size: var(--font-u10) }
.font-u9  { font-size: var(--font-u9) }
.font-u8  { font-size: var(--font-u8) }
.font-u7  { font-size: var(--font-u7) }
.font-u6  { font-size: var(--font-u6) }
.font-u5  { font-size: var(--font-u5) }
.font-u4  { font-size: var(--font-u4) }
.font-u3  { font-size: var(--font-u3) }
.font-u2  { font-size: var(--font-u2) }
.font-u1  { font-size: var(--font-u1) }
.font-d1  { font-size: var(--font-d1) }
.font-d2  { font-size: var(--font-d2) }
.font-d3  { font-size: var(--font-d3) }
.font-d4  { font-size: var(--font-d4) }
.font-d5  { font-size: var(--font-d5) }
.font-d6  { font-size: var(--font-d6) }
.font-d7  { font-size: var(--font-d7) }
.font-d8  { font-size: var(--font-d8) }
.font-d9  { font-size: var(--font-d9) }
.font-d10 { font-size: var(--font-d10) }
.font-d11 { font-size: var(--font-d11) }
.font-d12 { font-size: var(--font-d12) }
.font-d13 { font-size: var(--font-d13) }
.font-d14 { font-size: var(--font-d14) }
.font-d15 { font-size: var(--font-d15) }
.font-d16 { font-size: var(--font-d16) }
.font-d17 { font-size: var(--font-d17) }
.font-d18 { font-size: var(--font-d18) }

/* root resets (use these sparingly if needed to reset component font sizes, etc.) */

.font-u18r { font-size: 11.390625rem }
.font-u17r { font-size: 9.950627481136905rem }
.font-u16r { font-size: 8.692673779389363rem }
.font-u15r { font-size: 7.59375rem }
.font-u14r { font-size: 6.63375165409127rem }
.font-u13r { font-size: 5.795115852926242rem }
.font-u12r { font-size: 5.0625rem }
.font-u11r { font-size: 4.422501102727513rem }
.font-u10r { font-size: 3.8634105686174953rem }
.font-u9r { font-size: 3.375rem }
.font-u8r { font-size: 2.9483340684850083rem }
.font-u7r { font-size: 2.575607045744997rem }
.font-u6r { font-size: 2.25rem }
.font-u5r { font-size: 1.9655560456566725rem }
.font-u4r { font-size: 1.7170713638299977rem }
.font-u3r { font-size: 1.5rem }
.font-u2r { font-size: 1.3103706971044482rem }
.font-u1r { font-size: 1.1447142425533319rem }
.font-d1r { font-size: 0.8735804647362989rem }
.font-d2r { font-size: 0.7631428283688879rem }
.font-d3r { font-size: 0.6666666666666666rem }
.font-d4r { font-size: 0.5823869764908659rem }
.font-d5r { font-size: 0.5087618855792586rem }
.font-d6r { font-size: 0.4444444444444444rem }
.font-d7r { font-size: 0.3882579843272439rem }
.font-d8r { font-size: 0.3391745903861724rem }
.font-d9r { font-size: 0.2962962962962963rem }
.font-d10r { font-size: 0.2588386562181626rem }
.font-d11r { font-size: 0.22611639359078162rem }
.font-d12r { font-size: 0.19753086419753085rem }
.font-d13r { font-size: 0.17255910414544176rem }
.font-d14r { font-size: 0.15074426239385438rem }
.font-d15r { font-size: 0.13168724279835392rem }
.font-d16r { font-size: 0.11503940276362785rem }
.font-d17r { font-size: 0.10049617492923625rem }
.font-d18r { font-size: 0.0877914951989026rem }
