:root {
  --font-u18: 11.390625em;
  --font-u17: 9.950627481136905em;
  --font-u16: 8.692673779389363em;
  --font-u15: 7.59375em;
  --font-u14: 6.63375165409127em;
  --font-u13: 5.795115852926242em;
  --font-u12: 5.0625em;
  --font-u11: 4.422501102727513em;
  --font-u10: 3.8634105686174953em;
  --font-u9: 3.375em;
  --font-u8: 2.9483340684850083em;
  --font-u7: 2.575607045744997em;
  --font-u6: 2.25em;
  --font-u5: 1.9655560456566725em;
  --font-u4: 1.7170713638299977em;
  --font-u3: 1.5em;
  --font-u2: 1.3103706971044482em;
  --font-u1: 1.1447142425533319em;
  --font-d1: 0.8735804647362989em;
  --font-d2: 0.7631428283688879em;
  --font-d3: 0.6666666666666666em;
  --font-d4: 0.5823869764908659em;
  --font-d5: 0.5087618855792586em;
  --font-d6: 0.4444444444444444em;
  --font-d7: 0.3882579843272439em;
  --font-d8: 0.3391745903861724em;
  --font-d9: 0.2962962962962963em;
  --font-d10: 0.2588386562181626em;
  --font-d11: 0.22611639359078162em;
  --font-d12: 0.19753086419753085em;
  --font-d13: 0.17255910414544176em;
  --font-d14: 0.15074426239385438em;
  --font-d15: 0.13168724279835392em;
  --font-d16: 0.11503940276362785em;
  --font-d17: 0.10049617492923625em;
  --font-d18: 0.0877914951989026em;
}
